<body ng-app="app" ng-controller="AdminController as ctrl">
<%= render "shared/navbar", input_name: nil %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 main">
      <%= render "shared/alert_msg" %>
      <h2 class="sub-header">Incident Categories
      </h2>
      <div class="table-responsive" ng-style="ctrl.truncateStyle">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Category</th>
            <th colspan="2"></th>
          </tr>
          </thead>
          <tbody>
          <% @incident_categories.each do |incident_category| %>
              <tr>
                <td><%= incident_category.category %></td>
                <td><%= link_to 'Edit', edit_incident_category_path(incident_category), target: "_self" %></td>
                <td><%= link_to 'Delete', incident_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <%= link_to 'New Incident Category', new_incident_category_path, class: "btn btn-primary", target: "_self" %>
      </div>
    </div>
  </div>
</div>
</body>

