<p id="notice"><%= notice %></p>

<h1>Listing Incident Categories</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incident_categories.each do |incident_category| %>
      <tr>
        <td><%= incident_category.category %></td>
        <td><%= link_to 'Show', incident_category %></td>
        <td><%= link_to 'Edit', edit_incident_category_path(incident_category) %></td>
        <td><%= link_to 'Destroy', incident_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incident category', new_incident_category_path %>
