<body ng-app="app" ng-controller="VanController as ctrl">
<%= render "shared/navbar", input_name: "ctrl.searchInput" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 main">
      <%= render "shared/alert_msg" %>
      <h2 class="sub-header"><%= header_text %></h2>
      <%= simple_form_for(@van) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs container-fluid">
            <div class="row">
              <div class="col-md-3">
                <%= f.input :name %>
                <%= f.input :plate_number %>
                <%= f.input :vin %>
              </div>
              <div class="col-md-3">
                <%= f.input :make %>
                <%= f.input :model_year %>
                <%= f.input :last_oil_change %>
              </div>
              <div class="col-md-3">
                <%= f.input :capacity %>
                <%= f.input :out_of_service %>
                <%= f.input :expected_return_date, as: :date_time_picker, label: 'Expected Return Date'  %> </div>
              </div>
            </div>
          <div class="form-actions">
            <%= f.button :submit, class: "btn btn-primary" %>
            <%= link_to 'Permanently Delete', @van, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  </div>
</div>
</body>
