<p id="notice"><%= notice %></p>

<h1>Listing Vans</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Plate Number</th>
    <th>VIN</th>
    <th>Make</th>
    <th>Model Year</th>
    <th>Last Oil Change</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @vans.each do |van| %>
      <tr>
        <td><%= van.name %></td>
        <td><%= van.plate_number %></td>
        <td><%= van.address %></td>
        <td><%= van.vin %></td>
        <td><%= van.make %></td>
        <td><%= van.model_year %></td>
        <td><%= van.last_oil_change %></td>
        <td><%= link_to 'Show', van %></td>
        <td><%= link_to 'Edit', edit_van_path(van) %></td>
        <td><%= link_to 'Destroy', van, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_van_path %>
