<body ng-app="app" ng-controller="VanController as ctrl">
<%= render "shared/navbar", input_name: "ctrl.searchInput" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 main">
      <%= render "shared/alert_msg" %>
      <h2 class="sub-header">
        <% if @vans.first.out_of_service == false %>
          Active Vans
        <% else %>
          Inactive Vans
        <% end %>
        <div class="pull-right">
          <%= link_to "Export", export_vans_path, class: "btn btn-primary", target: "_self" %>
          <%= link_to 'New Van', new_van_path, class: "btn btn-primary", target: "_self" %>
        </div>
      </h2>
      <div class="table-responsive" ng-style="ctrl.truncateStyle">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Plate Number</th>
            <th>VIN</th>
            <th>Make</th>
            <th>Model Year</th>
            <th>Last Oil Change</th>
            <th>Capacity</th>
            <% if @vans.first.out_of_service == true %>
              <th>Expected Return Date</th>
            <% end %>
            <th colspan="2"></th>
          </tr>
          </thead>
          <tbody>
          <% @vans.each do |van| %>
              <tr>
                <td><%= van.name %></td>
                <td><%= van.plate_number %></td>
                <td><%= van.vin %></td>
                <td><%= van.make %></td>
                <td><%= van.model_year %></td>
                <td><%= van.last_oil_change %></td>
                <td><%= van.capacity %></td>
                <% if van.out_of_service %>
                    <td><%= van.expected_return_date %></td>
                <% end %>
                <td><%= link_to 'Edit', edit_van_path(van), target: "_self" %></td>
                <% if van.out_of_service %>
                    <td><%= link_to 'Activate', activate_van_path(van), target: "_self" %></td>
                <% else %>
                  <td><%= link_to 'Deactivate', deactivate_van_path(van), target: "_self" %></td>
                <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
