<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @van.name %>
</p>

<p>
  <strong>Plate Number:</strong>
  <%= @van.plate_number %>
</p>

<p>
  <strong>VIN:</strong>
  <%= @van.vin %>
</p>

<p>
  <strong>Make:</strong>
  <%= @van.make %>
</p>

<p>
  <strong>Model Year:</strong>
  <%= @van.model_year %>
</p>

<p>
  <strong>Last Oil Change:</strong>
  <%= @van.last_oil_change %>
</p>

<%= link_to 'Edit', edit_van_path(@van) %> |
<%= link_to 'Back', vans_path %>
