<body ng-app="app" ng-controller="VanRouteController as ctrl">
<%= render "shared/navbar", input_name: "ctrl.searchInput" %>
<%= simple_form_for(@van_route, html: {name: 'van_route_form'}) do |f| %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="padding-top:0px">
          <ul class="nav nav-sidebar">
            <li>
              <div class="nav-heading">
                Van
              </div>
            </li>
            <li class="hasframe">
              <div class="col-md-12">
                <fieldset class="well" style="padding-top: 5px; padding-bottom: 5px"><legend class="the-legend">Van</legend>
                  <%= f.input :van_id,:collection => Van.all,:label => false,:value_method => :id ,:include_blank => false %>
                </fieldset>
              </div>
            </li>
            <li>
              <div class="nav-heading">
                Driver
              </div>
            </li>
            <li class="hasframe">
              <div class="col-md-12">
                <fieldset class="well" style="padding-top: 5px; padding-bottom: 5px"><legend class="the-legend">Driver</legend>
                  <%= f.input :driver_id,:collection => Driver.all,:label => false,:value_method => :id ,:include_blank => false %>
                </fieldset>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= render "shared/alert_msg" %>
          <h2 class="sub-header"><%= header_text %>
            <% if edit_mode %>
            <div class="pull-right">
              <%= link_to "Back", van_routes_path(route_date: @van_route.route_date), class: "btn btn-primary", target: "_self" %>
              <%= link_to "Export", export_van_route_path(@van_route), class: "btn btn-primary", target: "_self" %>
            </div>
            <% end %>
          </h2>
          <div class="row" ng-init="ctrl.check_in_time='<%= @van_route.check_in_time %>'">
            <%= f.input :name, label: "Route Name:", wrapper_html: { class: 'col-md-5', style: 'display: block'},
                        :label_html => { :class => "col-md-5" }, input_html: {placeholder: 'Enter a route name',
                                                                              class: 'col-md-3' }%>
            <div ng-class="{'has-error':van_route_form['van_route[check_in_time]'].$valid == false}">
            <%= f.input :check_in_time, label: "Check In Time:", wrapper_html: { class: 'col-md-5', style: 'display: block'},
                        :label_html => { :class => "col-md-5" }, input_html: {placeholder: 'Enter a time, e.g. 8:00 AM',
                                                     class: 'col-md-3', :'ng-model' => 'ctrl.check_in_time', :'ng-pattern' => 'ctrl.time_pattern' } %>
            </div>
          </div>
          <div class="row">
          <fieldset class="col-md-12">
            <legend>Route Stops</legend>
            <table class="detail_route_rows">
              <tr>
                <th class="col-md-1 text-center">AM Order</th>
                <th class="col-md-1 text-center">PM Order</th>
                <th class="col-md-6">Placement</th>
                <th class="col-md-3">Notes</th>
                <th class="col-md-1" style="text-align: center; vertical-align: middle">Delete</th>
              </tr>
              <%= f.simple_fields_for :route_stops do |rs_form| %>
                  <%= render partial: "van_routes/route_stop", locals: { f: rs_form }  %>
              <% end %>
            </table>
            <p style="display:block">
            <input type="button" value="Add New Stop" class="btn btn-primary" onclick="<%=  child_link_javascript(f, :route_stops, '.detail_route_rows')%>" />
            <%= f.submit '{{ctrl.deletesChecked > 0 ? "Delete" : "Save"}}', class: "btn btn-primary" %>&nbsp;
            </p>
          </fieldset>
          </div>
        </div>
      </div>
    </div>
<% end%>
</body>