<body ng-app="app" ng-controller="VanRouteController as ctrl">
<%= render "shared/navbar", input_name: "ctrl.searchInput" %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="padding-top:0px">
          <ul class="nav nav-sidebar">
            <li>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12" style="margin: 0 auto; float: none" >
                    <input type="hidden" name="dp_route_date" id="dp_route_date" value={{ctrl.routeDate}}">
                    <div ng-model="ctrl.routeDate" datetimepicker datetimepicker-options="{defaultDate:'<%=@todays_date%>'}" ng-change="ctrl.getRoutes()"></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= render "shared/alert_msg" %>
          <h2 class="sub-header">Daily Routes
            <button class="btn-file btn btn-primary" name="export" ng-if="ctrl.dailyRoutes.length > 0">Export</button>
          </h2>
          <div class="jumbotron" ng-if="ctrl.dailyRoutes.length==0" style="background-color: transparent; text-align: center">
            <h2>Looks like there are no routes defined yet for today!</h2>
            <p class="lead">To copy routes from the most recent previous school day, just click the Copy Routes
              button.  To copy from a different day, click in the date box below to choose a different date. To
              add routes from scratch, click the New Route button at the lower left of the page.
            </p>
            <p class="col-sm-6" style="text-align:right"><a class="btn btn-lg btn-success" href="" role="button" ng-click="ctrl.copyRoutes()">Copy Routes</a></p>
            <div class="col-sm-3 form-group" style="height: 46px; position: relative">
              <div class="input-group" style="position: absolute;
                  top: 50%;
                  left: 50%;
                  height: 30px;
                  width: 100%;
                  margin: -15px 0 0 -50%;">
                <input type="text" id="dt1" class="form-control input-sm" style="font-size: 14px"

                       datetimepicker
                       datetimepicker-options="{defaultDate:'<%=@previous_school_day%>', inline: false, format: 'DD-MMM-YYYY'}"
                       ng-model="ctrl.copyFromDate"/>
                <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
              </div>
            </div>
          </div>
          <table ng-if="ctrl.dailyRoutes.length > 0">
            <tr>
              <th class="col-md-2">AM/PM</th>
              <th class="col-md-3">Name</th>
              <th class="col-md-3">Driver</th>
              <th class="col-md-3">Van</th>
              <th class="col-md-1">Delete</th>
            </tr>
            <tr ng-repeat="van_route in ctrl.dailyRoutes">
              <td class="col-md-2">{{ van_route.am_pm }}</td>
              <td class="col-md-3"><a href="/van_routes/{{van_route.id}}/edit" target="_self">{{van_route.name}}</a></td>
              <td class="col-md-3">{{ van_route.driver.name }}</td>
              <td class="col-md-3">{{ van_route.van.name }}</td>
              <td class="col-md-1" style="text-align:center"><img ng-src="<%=image_path("trash.png")%>" width="18" height="18"
                                   ng-really-message="Are you sure you want to delete this object?"
                                   ng-really-click="ctrl.deleteRoute($index, van_route.id);" class="delete_object">
              </td>
            </tr>
          </table>
          <p style="margin-top: 20px">
            <a class="btn btn btn-primary" target="_self" href="/van_routes/new?route_date={{ctrl.routeDate}}">New Route</a>
          </p>
        </div>
      </div>
    </div>
</body>