<body ng-app="app" ng-controller="VanRouteController as vanRouteCtrl">
<%= render "shared/navbar", input_name: "vanRouteCtrl.searchInput" %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="padding-top:0px">
          <ul class="nav nav-sidebar">
            <li>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-10" style="margin: 0 auto; float: none" >
                    <input type="hidden" name="dp_route_date" id="dp_route_date" value={{vanRouteCtrl.routeDate}} ng-change="vanRouteCtrl.getRoutes()">
                    <div ng-model="vanRouteCtrl.routeDate" datetimepicker datetimepicker-options="{defaultDate:'<%=@todays_date%>'}"></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="animate-if" ng-class="{'alert alert-success':vanRouteCtrl.isSuccess == true, 'alert alert-danger':vanRouteCtrl.isSuccess == false}" ng-if="vanRouteCtrl.showResultAlert">
            <button type="button" class="close" data-ng-click="vanRouteCtrl.alertShowHide('showResultAlert')">x</button>
            {{vanRouteCtrl.alertText}}
          </div>
          <h2 class="sub-header">Daily Route
            <button class="btn-file btn btn-primary" name="export">Export</button>
          </h2>
          <table>
            <tr>
              <th class="col-md-2">AM/PM</th>
              <th class="col-md-3">Name</th>
              <th class="col-md-3">Driver</th>
              <th class="col-md-3">Van</th>
              <th class="col-md-1">Delete</th>
            </tr>
            <% @van_routes.each do |van_route| %>
            <tr>
              <td class="col-md-2"><%= van_route.am_pm %></td>
              <td class="col-md-3"><%= link_to(van_route.name, edit_van_route_path(van_route.id)) %></td>
              <td class="col-md-3"><%= van_route.driver.name %></td>
              <td class="col-md-3"><%= van_route.van.name %></td>
              <td class="col-md-1"><%= link_to image_tag("trash.png", size: "24x24"), van_route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
</body>