<p id="notice"><%= notice %></p>

<p>
  <strong>Route Name:</strong>
  <%= @van_route.name %>
</p>
<p>
  <strong>Route Date:</strong>
  <%= @van_route.route_date %>
</p>
<p>
  <strong>AM/PM:</strong>
  <%= @van_route.am_pm %>
</p>
<p>
  <strong>Van ID:</strong>
  <%= @van_route.van.name %>
</p>
<p>
  <strong>Driver ID:</strong>
  <%= @van_route.driver.name %>
</p>

<%= link_to 'Back', van_route_path %>