<body ng-app="app" ng-controller="StudentController as ctrl">
<%= render "shared/navbar", input_name: "ctrl.searchInput" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 main">
      <%= render "shared/alert_msg" %>
      <h2 class="sub-header">Students
        <div class="pull-right">
          <%= link_to "Export", export_all_students_path, class: "btn btn-primary", target: "_self" %>
        </div>
      </h2>
      <div class="table-responsive" ng-style="ctrl.truncateStyle">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>
              <a href="#" ng-click="ctrl.sortType = 'first_name'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
                First Name
                <span ng-show="ctrl.sortType == 'first_name' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
                <span ng-show="ctrl.sortType == 'first_name' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
              </a>
            </th>
            <th>
              <a href="#" ng-click="ctrl.sortType = 'last_name'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
                Last Name
                <span ng-show="ctrl.sortType == 'last_name' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
                <span ng-show="ctrl.sortType == 'last_name' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
              </a>
            </th>
            <th>
              <a href="#" ng-click="ctrl.sortType = 'mobile_phone'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
                Mobile Phone
                <span ng-show="ctrl.sortType == 'mobile_phone' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
                <span ng-show="ctrl.sortType == 'mobile_phone' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
              </a>
            </th>
            <th>
              <a href="#" ng-click="ctrl.sortType = 'classof'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
                Class
                <span ng-show="ctrl.sortType == 'classof' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
                <span ng-show="ctrl.sortType == 'classof' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
              </a>
            </th>
            <th>
              <a href="#" ng-click="ctrl.sortType = 'skills'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
                Skills
                <span ng-show="ctrl.sortType == 'skills' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
                <span ng-show="ctrl.sortType == 'skills' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
              </a>
            </th>
            <th>
              <a href="#" ng-click="ctrl.sortType = 'goals'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
                Goals
                <span ng-show="ctrl.sortType == 'goals' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
                <span ng-show="ctrl.sortType == 'goals' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
              </a>
            </th>
            <th>
              <a href="#" ng-click="ctrl.sortType = 'active'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
                Active?
                <span ng-show="ctrl.sortType == 'active' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
                <span ng-show="ctrl.sortType == 'active' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
              </a>
            </th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <tr ng-repeat="student in ctrl.students | orderBy:ctrl.sortType:ctrl.sortReverse | filter:ctrl.searchInput">
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.mobile_phone }}</td>
            <td>{{ student.classof }}</td>
            <td>{{ student.skills }}</td>
            <td>{{ student.goals }}</td>
            <td>{{ student.active }}</td>
            <td><a target="_self" ng-href="/students/{{student.id}}/edit">Edit</a></td>
            <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/students/{{student.id}}">Delete</a></td>
          </tr>
          </tbody>
        </table>
        <%= link_to 'New Student', new_student_path, class: "btn btn-primary", target: "_self" %>
      </div>
    </div>
  </div>
</div>
</body>
