<p id="notice"><%= notice %></p>

<h1>Listing Work Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>Paid</th>
      <th>Work day</th>
      <th>Student gradelevel</th>
      <th>Earliest start</th>
      <th>Latest start</th>
      <th>Ideal start</th>
      <th>Student</th>
      <th>Contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_assignments.each do |work_assignment| %>
      <tr>
        <td><%= work_assignment.start_date %></td>
        <td><%= work_assignment.end_date %></td>
        <td><%= work_assignment.paid %></td>
        <td><%= work_assignment.work_day %></td>
        <td><%= work_assignment.student_gradelevel %></td>
        <td><%= work_assignment.earliest_start %></td>
        <td><%= work_assignment.latest_start %></td>
        <td><%= work_assignment.ideal_start %></td>
        <td><%= work_assignment.student %></td>
        <td><%= work_assignment.contact %></td>
        <td><%= link_to 'Show', work_assignment %></td>
        <td><%= link_to 'Edit', edit_work_assignment_path(work_assignment) %></td>
        <td><%= link_to 'Destroy', work_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work assignment', new_work_assignment_path %>
