<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @work_assignment.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @work_assignment.end_date %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @work_assignment.paid %>
</p>

<p>
  <strong>Work day:</strong>
  <%= @work_assignment.work_day %>
</p>

<p>
  <strong>Student gradelevel:</strong>
  <%= @work_assignment.student_gradelevel %>
</p>

<p>
  <strong>Earliest start:</strong>
  <%= @work_assignment.earliest_start %>
</p>

<p>
  <strong>Latest start:</strong>
  <%= @work_assignment.latest_start %>
</p>

<p>
  <strong>Ideal start:</strong>
  <%= @work_assignment.ideal_start %>
</p>

<p>
  <strong>Student:</strong>
  <%= @work_assignment.student %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @work_assignment.contact %>
</p>

<%= link_to 'Edit', edit_work_assignment_path(@work_assignment) %> |
<%= link_to 'Back', work_assignments_path %>
