<body ng-app="app" ng-controller="AdminController as ctrl">
<%= render "shared/navbar", input_name: "ctrl.searchInput" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 main">
      <%= render "shared/alert_msg" %>
      <h2 class="sub-header">Users
        <%= link_to "Export", export_vans_path, class: "btn btn-primary pull-right", target: "_self" %>
      </h2>
      <div class="table-responsive" ng-style="ctrl.truncateStyle">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Admin?</th>
            <th colspan="2"></th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
              <tr>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td><%= user.admin %></td>
                <td><%= link_to 'Edit', edit_user_path(user), target: "_self" %></td>
                <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <%= link_to 'New User', new_user_path, class: "btn btn-primary", target: "_self" %>
      </div>
    </div>
  </div>
</div>
</body>
