<body ng-app="app" ng-controller="PlacementController as ctrl">
<%= render "shared/navbar", input_name: "ctrl.searchInput" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 main">
      <%= render "shared/alert_msg" %>
      <h2 class="sub-header"><%= header_text %></h2>
      <%= simple_form_for(@placement, html: {name: 'placement_form'}) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs container-fluid">
            <div class="row">
              <div class="col-md-3">
                <%= f.input :start_date, as: :date_time_picker, label: 'Start Date'  %>
                <%= f.input :end_date, as: :date_time_picker, label: 'End Date' %>
                <%= f.input :paid, input_html: { checked: @placement.paid? } %>
              </div>
              <div class="col-md-3">
              <%= f.input :work_day, hint: "Enter a day of the week, e.g. Tuesday" %>
              <%= f.input :student_gradelevel, label: "Grade Level", hint: "Enter a number between 9 and 12" %>
              <%= f.hidden_field :student_id ,value: @student.id %>
              </div>
              <div class="col-md-3" ng-init="ctrl.earliest_start='<%= @placement.earliest_start %>';
               ctrl.latest_start='<%= @placement.latest_start %>';
               ctrl.ideal_start='<%= @placement.ideal_start %>';">
                <div ng-class="{'has-error':placement_form['placement[earliest_start]'].$valid == false}">
                  <%= f.input :earliest_start, hint: "Enter a time, such as 8:00 or 8:00 AM",
                              :input_html => {:'ng-model' => 'ctrl.earliest_start', :'ng-pattern' => 'ctrl.time_pattern' } %>
                </div>
                <div ng-class="{'has-error':placement_form['placement[latest_start]'].$valid == false}">
                  <%= f.input :latest_start, :input_html => {:'ng-model' => 'ctrl.latest_start', :'ng-pattern' => 'ctrl.time_pattern' } %>
                </div>
                <div ng-class="{'has-error':placement_form['placement[ideal_start]'].$valid == false}">
                  <%= f.input :ideal_start, :input_html => {:'ng-model' => 'ctrl.ideal_start', :'ng-pattern' => 'ctrl.time_pattern' } %>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group select optional" ng-init="ctrl.currentOrgId='<%= @placement.organization_id %>'">
                  <label class="select optional control-label" for="placement_organization_id">Organization</label>
                  <select class="form-control" ng-model="ctrl.selectedOrgEdit"
                    ng-options="org.id as org.name for org in ctrl.orgList"
                          ng-change="ctrl.getContactAssignments(<%= @placement.contact_assignment_id %>);">
                  </select>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group select optional"
                     ng-init="ctrl.placementStartDate='<%= @placement.start_date.nil? ? DateTime.now.strftime("%Y-%m-%d") : @placement.start_date %>'; ctrl.placementcontactAssignmentId='<%= @placement.contact_assignment_id %>'">
                  <label class="select optional control-label">Supervisor</label>
                  <select name="placement[contact_assignment_id]" id="placement_contact_assignment_id" class="form-control" ng-model="ctrl.selectedAssignment"
                          ng-options="+ca.id as ca.contact_name for ca in ctrl.contactAssignments">
                  </select>
                </div>
              </div>

              <div class="col-md-3">
                <%= f.input :notes, as: :text %>
              </div>

            </div>
          </div>

          <div class="form-actions">
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  </div>
</div>
</body>
