<table class="table table-striped">
  <thead>
  <tr>
    <th>
      <a href="#" ng-click="ctrl.sortType = 'start_date'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
        Start Date
      <span ng-show="ctrl.sortType == 'start_date' && !ctrl.sortReverse" style="text-decoration: none">
        <%= image_tag("sort_down.png", size: "14x14") %>
      </span>
      <span ng-show="ctrl.sortType == 'start_date' && ctrl.sortReverse">
        <%= image_tag("sort_up.png", size: "14x14") %>
      </span>
      </a>
    </th>
    <th>
      <a href="#" ng-click="ctrl.sortType = 'end_date'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
        End Date
      <span ng-show="ctrl.sortType == 'end_date' && !ctrl.sortReverse" style="text-decoration: none">
        <%= image_tag("sort_down.png", size: "14x14") %>
      </span>
      <span ng-show="ctrl.sortType == 'end_date' && ctrl.sortReverse">
        <%= image_tag("sort_up.png", size: "14x14") %>
      </span>
      </a>
    </th>
    <% if query_type == 0 or query_type == 2 %>
    <th>
      <a href="#" ng-click="ctrl.sortType = 'organization_name'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
      Organization Name
      <span ng-show="ctrl.sortType == 'organization_name' && !ctrl.sortReverse" style="text-decoration: none">
        <%= image_tag("sort_down.png", size: "14x14") %>
      </span>
      <span ng-show="ctrl.sortType == 'organization_name' && ctrl.sortReverse">
        <%= image_tag("sort_up.png", size: "14x14") %>
      </span>
      </a>
    </th>
    <% end %>
    <% if query_type == 1 or query_type == 2 %>
    <th>
      <a href="#" ng-click="ctrl.sortType = 'student_name'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
          Student Name
        <span ng-show="ctrl.sortType == 'student_name' && !ctrl.sortReverse" style="text-decoration: none">
          <%= image_tag("sort_down.png", size: "14x14") %>
        </span>
        <span ng-show="ctrl.sortType == 'student_name' && ctrl.sortReverse">
          <%= image_tag("sort_up.png", size: "14x14") %>
        </span>
      </a>
    </th>
    <% end %>
    <% if (query_type != 2) %>
    <th>
      <a href="#" ng-click="ctrl.sortType = 'contact_name'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
        Contact Name
    <span ng-show="ctrl.sortType == 'contact_name' && !ctrl.sortReverse" style="text-decoration: none">
      <%= image_tag("sort_down.png", size: "14x14") %>
    </span>
    <span ng-show="ctrl.sortType == 'contact_name' && ctrl.sortReverse">
      <%= image_tag("sort_up.png", size: "14x14") %>
    </span>
      </a>
    </th>
    <% end %>
    <th>Paid?</th>
    <th>
      <a href="#" ng-click="ctrl.sortType = 'work_day'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
        Work Day
    <span ng-show="ctrl.sortType == 'work_day' && !ctrl.sortReverse" style="text-decoration: none">
      <%= image_tag("sort_down.png", size: "14x14") %>
    </span>
    <span ng-show="ctrl.sortType == 'work_day' && ctrl.sortReverse">
      <%= image_tag("sort_up.png", size: "14x14") %>
    </span>
      </a>
    </th>
    <th>
      <a href="#" ng-click="ctrl.sortType = 'class'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
        Class
    <span ng-show="ctrl.sortType == 'class' && !ctrl.sortReverse" style="text-decoration: none">
      <%= image_tag("sort_down.png", size: "14x14") %>
    </span>
    <span ng-show="ctrl.sortType == 'class' && ctrl.sortReverse">
      <%= image_tag("sort_up.png", size: "14x14") %>
    </span>
      </a>
    </th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="student_placement in ctrl.studentPlacements| orderBy:ctrl.sortType:ctrl.sortReverse"

      ng-class="{'selected':$index == ctrl.selectedRow}"

      ng-click="ctrl.showOrganizationDetails($index, student_placement.id)" id="{{student_placement.id}}">
    <td>{{ student_placement.start_date }}</td>
    <td>{{ student_placement.end_date }}</td>
    <% if query_type == 0 or query_type == 2 %>
      <td>{{ student_placement.organization_name }}</td>
    <% end %>
    <% if query_type == 1 or query_type == 2 %>
      <td>{{ student_placement.student_name }}</td>
    <% end %>
    <% if (query_type != 2) %>
      <td>{{ student_placement.contact_name }}</td>
    <% end %>
    <td>{{ student_placement.paid }}</td>
    <td>{{ student_placement.work_day }}</td>
    <td>{{ student_placement.student_gradelevel }}</td>
    <td><a href="/placements/{{student_placement.id}}/edit" target="_self"
           ng-class="{'white-link': ctrl.selectedRow != null}">Edit</a></td>
    <td ng-click="$event.stopPropagation();"><img ng-src="<%=image_path("trash.png")%>" width="18" height="18"
                                                  ng-really-message="Are you sure you want to delete this placement?"
                                                  ng-really-click="ctrl.deletePlacement($index, student_placement.id);" class="delete_object"></td>
  </tr>
  </tbody>
</table>
