<table class="table table-striped" id="plcmtTable">
  <thead>
  <tr>
    <% if query_type == 0 or query_type == 2 %>
    <th>
      Organization Name
    </th>
    <% end %>
    <% if query_type == 1 or query_type == 2 %>
    <th>
      <% if query_type == 1 %>
      <a href="#" ng-click="ctrl.sortType = 'students.last_name'; ctrl.sortReverse = !ctrl.sortReverse; ctrl.getStudentPlacements(ctrl.orgId, <%= query_type %>);" style="text-decoration: none">
        Student Name
        <span ng-show="ctrl.sortType == 'students.last_name' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
        <span ng-show="ctrl.sortType == 'students.last_name' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
      </a>
      <% else %>
        Student Name
      <% end %>
    </th>
    <% end %>
    <% if (query_type != 2) %>
    <th>
      <% if query_type == 1 %>
      <a href="#" ng-click="ctrl.sortType = 'contacts.first_name'; ctrl.sortReverse = !ctrl.sortReverse; ctrl.getStudentPlacements(ctrl.orgId, <%= query_type %>);" style="text-decoration: none">
        Contact Name
        <span ng-show="ctrl.sortType == 'contacts.first_name' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
        <span ng-show="ctrl.sortType == 'contacts.first_name' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
      </a>
      <% else %>
        Contact Name
      <% end %>
    </th>
    <% end %>
    <th>
      <% if query_type == 1 %>
      <a href="#" ng-click="ctrl.sortType = 'placements.start_date'; ctrl.sortReverse = !ctrl.sortReverse; ctrl.getStudentPlacements(ctrl.orgId, <%= query_type %>);" style="text-decoration: none">
        Start Date
        <span ng-show="ctrl.sortType == 'placements.start_date' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
        <span ng-show="ctrl.sortType == 'placements.start_date' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
      </a>
      <% else %>
        Start Date
      <% end %>
    </th>
    <th>
      <% if query_type == 1 %>
      <a href="#" ng-click="ctrl.sortType = 'placements.end_date'; ctrl.sortReverse = !ctrl.sortReverse; ctrl.getStudentPlacements(ctrl.orgId, <%= query_type %>);" style="text-decoration: none">
        End Date
        <span ng-show="ctrl.sortType == 'placements.end_date' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
        <span ng-show="ctrl.sortType == 'placements.end_date' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
      </a>
      <% else %>
        End Date
      <% end %>
    </th>
    <th>
      <% if query_type == 1 %>
      <a href="#" ng-click="ctrl.sortType = 'placements.paid'; ctrl.sortReverse = !ctrl.sortReverse; ctrl.getStudentPlacements(ctrl.orgId, <%= query_type %>);" style="text-decoration: none">
        Paid?
        <span ng-show="ctrl.sortType == 'placements.paid' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
        <span ng-show="ctrl.sortType == 'placements.paid' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
      </a>
      <% else %>
        Paid?
      <% end %>
    </th>
    <th>
      <% if query_type == 1 %>
      <a href="#" ng-click="ctrl.sortType = 'placements.work_day'; ctrl.sortReverse = !ctrl.sortReverse; ctrl.getStudentPlacements(ctrl.orgId, <%= query_type %>);" style="text-decoration: none">
        Work Day
        <span ng-show="ctrl.sortType == 'placements.work_day' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
        <span ng-show="ctrl.sortType == 'placements.work_day' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
      </a>
      <% else %>
        Work Day
      <% end %>
    </th>
    <th>
      <% if query_type == 1 %>
      <a href="#" ng-click="ctrl.sortType = 'students.classof'; ctrl.sortReverse = !ctrl.sortReverse; ctrl.getStudentPlacements(ctrl.orgId, <%= query_type %>);" style="text-decoration: none">
        Class
        <span ng-show="ctrl.sortType == 'students.classof' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
        <span ng-show="ctrl.sortType == 'students.classof' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
      </a>
      <% else %>
        Class
      <% end %>
    </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody class="allowrowclick">
  <tr ng-repeat="student_placement in ctrl.studentPlacements"
      ng-class="{'selected':$index == ctrl.selectedRow, subrow: ctrl.isStudentsPage && ctrl.studentPlacements[$index - 1].organization_name == student_placement.organization_name && ctrl.studentPlacements[$index - 1].student_gradelevel == student_placement.student_gradelevel}"

      ng-click="ctrl.showOrganizationDetails($index, student_placement.id)" id="{{student_placement.id}}">
    <% if query_type == 0 or query_type == 2 %>
      <td ng-class="{subrowcell: ctrl.isStudentsPage && ctrl.studentPlacements[$index - 1].organization_name == student_placement.organization_name && ctrl.studentPlacements[$index - 1].student_gradelevel == student_placement.student_gradelevel}">
        {{ student_placement.organization_name }}</td>
    <% end %>
    <% if query_type == 1 or query_type == 2 %>
      <td>{{ student_placement.student_name }}</td>
    <% end %>
    <% if (query_type != 2) %>
      <td ng-class="{subrowcell: ctrl.isStudentsPage && ctrl.studentPlacements[$index - 1].organization_name == student_placement.organization_name && ctrl.studentPlacements[$index - 1].student_gradelevel == student_placement.student_gradelevel}">
        <a ng-click="$event.stopPropagation();" title="Change supervisor and preserve history" ng-if="ctrl.isStudentsPage && $index == 0" href="/placements/{{student_placement.id}}/edit_contact"><img src="<%=image_path("edit.png")%>" width="18" height="18"></a>
        {{ student_placement.contact_name }}</td>
    <% end %>
    <td>{{ student_placement.start_date | date:'dd-MMM-yyyy' }}</td>
    <td>{{ student_placement.end_date | date:'dd-MMM-yyyy' }}</td>
    <td>{{ student_placement.paid }}</td>
    <td>{{ student_placement.work_day }}</td>
    <td>{{ student_placement.student_gradelevel }}</td>
    <td><a ng-click="$event.stopPropagation();" href="/placements/{{student_placement.id}}/edit" target="_self"
           ng-class="{'white-link': ctrl.selectedRow != null}">Edit</a></td>
    <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" ng-class="{'white-link': ctrl.selectedRow != null}"
           href="/placements/{{student_placement.id}}">Delete</a></td>
    <td style="text-align:right; padding-left:0;padding-right:0;" ng-click="$event.stopPropagation();">
      <img ng-src="{{student_placement.plusminus}}" width="18" height="18" ng-click="ctrl.addNotesRow($index);">
    </td>
  </tr>
  </tbody>
</table>
