<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
    <Author>John Hogan</Author>
    <LastAuthor>John Hogan</LastAuthor>
    <Created>2016-02-13T01:31:41Z</Created>
    <LastSaved>2016-02-13T01:38:11Z</LastSaved>
    <Company>Sagecloud</Company>
    <Version>14.0</Version>
  </DocumentProperties>
  <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
    <AllowPNG/>
  </OfficeDocumentSettings>
  <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
    <WindowHeight>12020</WindowHeight>
    <WindowWidth>25040</WindowWidth>
    <WindowTopX>560</WindowTopX>
    <WindowTopY>560</WindowTopY>
    <ProtectStructure>False</ProtectStructure>
    <ProtectWindows>False</ProtectWindows>
  </ExcelWorkbook>
  <Styles>
    <Style ss:ID="Default" ss:Name="Normal">
      <Alignment ss:Vertical="Bottom"/>
      <Borders/>
      <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
      <Interior/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="s16" ss:Name="Heading 1">
      <Borders>
      <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="3"
      ss:Color="#333399"/>
      </Borders>
        <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="15" ss:Color="#003366"
      ss:Bold="1"/>
    </Style>
    <Style ss:ID="s17">
      <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"
      ss:Bold="1"/>
    </Style>
    <Style ss:ID="s65">
      <NumberFormat ss:Format="Short Date"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table ss:ExpandedColumnCount="13" ss:ExpandedRowCount="4" x:FullColumns="1"
           x:FullRows="1" ss:DefaultColumnWidth="65" ss:DefaultRowHeight="15">
      <Column ss:Index="5" ss:Width="66"/>
      <Column ss:Width="102"/>
      <Column ss:Width="114"/>
      <Column ss:AutoFitWidth="0" ss:Width="84"/>
      <Column ss:AutoFitWidth="0" ss:Width="102"/>
      <Column ss:Index="11" ss:Width="77"/>
      <Column ss:Width="69"/>
      <Column ss:Width="108"/>
      <Row ss:Height="20">
        <Cell ss:StyleID="s16"><Data ss:Type="String">Student Work History</Data></Cell>
      </Row>
      <Row ss:Height="16"/>
      <Row>
        <Cell ss:StyleID="s17"><Data ss:Type="String">Start Date</Data></Cell>
        <Cell ss:StyleID="s17"><Data ss:Type="String">End Date</Data></Cell>
        <Cell ss:StyleID="s17"><Data ss:Type="String">Paid?</Data></Cell>
        <Cell ss:StyleID="s17"><Data ss:Type="String">Work Day</Data></Cell>
        <Cell ss:StyleID="s17"><Data ss:Type="String">Grade Level</Data></Cell>
        <Cell ss:StyleID="s17"><Data ss:Type="String">Organization Name</Data></Cell>
        <Cell ss:StyleID="s17"><Data ss:Type="String">Organization Address</Data></Cell>
        <Cell ss:StyleID="s17"><Data ss:Type="String">City</Data></Cell>
        <Cell ss:StyleID="s17"><Data ss:Type="String">State</Data></Cell>
        <Cell ss:StyleID="s17"><Data ss:Type="String">Zip</Data></Cell>
        <Cell ss:StyleID="s17"><Data ss:Type="String">Contact Name</Data></Cell>
        <Cell ss:StyleID="s17"><Data ss:Type="String">Contact Title</Data></Cell>
        <Cell ss:StyleID="s17"><Data ss:Type="String">Contact Department</Data></Cell>
      </Row>
      <% @placements.each do |placement| %>
      <Row>
        <Cell ss:StyleID="s65">
          <Data ss:Type="DateTime"><%= placement.start_date %></Data>
        </Cell>
        <Cell ss:StyleID="s65">
          <Data ss:Type="DateTime"><%= placement.end_date %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= placement.paid %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= placement.work_day %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= placement.student_gradelevel %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= placement.organization_name %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= placement.billing_address %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= placement.city %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= placement.state %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= placement.zip %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= placement.contact_name %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= placement.title %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= placement.department %></Data>
        </Cell>
      </Row>
    <% end %>
    </Table>
    <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
      <PageLayoutZoom>0</PageLayoutZoom>
      <Selected/>
      <Panes>
        <Pane>
          <Number>3</Number>
          <ActiveRow>3</ActiveRow>
        </Pane>
      </Panes>
      <ProtectObjects>False</ProtectObjects>
      <ProtectScenarios>False</ProtectScenarios>
    </WorksheetOptions>
  </Worksheet>
</Workbook>