<body ng-app="app" ng-controller="AdminController as ctrl">
<%= render "shared/navbar", input_name: nil %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 main">
      <%= render "shared/alert_msg" %>
      <%= form_tag @placement_staging.count == 0? import_placements_path : commit_placements_path, name: "import_form", multipart: true do %>
        <h2 class="sub-header">
          Import Placements
          <% if @placement_staging.count == 0 %>
            <div class="pull-right">
              <button type="submit" class="btn btn-primary pull-right" ng-disabled="import_form.import_file.$invalid">Import</button>
            </div>
          <% else %>
            <div class="pull-right">
              <button type="submit" class="btn btn-primary pull-right">Commit</button>
            </div>
          <% end %>
        </h2>
        <% if @placement_staging.count > 0 %>
          <div class="table-responsive" ng-style="ctrl.truncateStyle">
            <table class="table table-striped">
              <thead>
              <tr>
                <th><%= sort_link 'student_last_name', 'Student Last Name' %></th>
                <th><%= sort_link 'student_first_name', 'Student First Name' %></th>
                <th><%= sort_link 'student_middle_name', 'Student Middle Name' %></th>
                <th><%= sort_link 'contact_first_name', 'Contact First Name' %></th>
                <th><%= sort_link 'contact_last_name', 'Contact Last Name' %></th>
                <th><%= sort_link 'organization_name', 'Organization Name' %></th>
                <th><%= sort_link 'start_date', 'Start Date' %></th>
                <th><%= sort_link 'end_date', 'End Date' %></th>
                <th><%= sort_link 'paid', 'Paid?' %></th>
                <th><%= sort_link 'work_day', 'Work Day' %></th>
                <th><%= sort_link 'student_gradelevel', 'Student Grade Level' %></th>
                <th><%= sort_link 'earliest_start', 'Earliest Start' %></th>
                <th><%= sort_link 'latest_start', 'Latest Start' %></th>
                <th><%= sort_link 'ideal_start', 'Ideal Start' %></th>
                <th>Duplicate?</th>
                <th colspan="2"></th>
              </tr>
              </thead>
              <tbody>
              <% @placement_staging.each do |placement| %>
                  <tr style="<%= placement.duplicate ? "font-weight: bold; color: red" : "" %>">
                    <td><%= placement.student_last_name %></td>
                    <td><%= placement.student_first_name %></td>
                    <td><%= placement.student_middle_name %></td>
                    <td><%= placement.contact_first_name %></td>
                    <td><%= placement.contact_last_name %></td>
                    <td><%= placement.organization_name %></td>
                    <td><%= placement.start_date %></td>
                    <td><%= placement.end_date %></td>
                    <td><%= placement.paid %></td>
                    <td><%= placement.work_day %></td>
                    <td><%= placement.student_gradelevel %></td>
                    <td><%= placement.earliest_start %></td>
                    <td><%= placement.latest_start %></td>
                    <td><%= placement.ideal_start %></td>
                    <td><%= placement.duplicate %></td>
                    <td><%= link_to 'Edit', edit_placement_staging_path(placement), target: "_self" %></td>
                    <td><%= link_to 'Delete', placement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          <div class="input-group col-md-5" style="margin-top:50px; ">
            <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse… <input type="file" name="file_content" style="display: none;">
                    </span>
            </label>
            <div ng-class="{'has-error':import_form.import_file.$invalid && !import_form.import_file.$pristine}">
              <input type="text" name="import_file" id="import_file" class="form-control" ng-model='placement.import_file' valid-csv required readonly >
            </div>
          </div>
            <p ng-show="import_form.import_file.$invalid && !import_form.import_file.$pristine" class="help-block">Please select a valid CSV file.</p>
          <p class="help-block">Select a CSV file to import placements from.</p>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
<script>
  $(function() {

    $(document).on('change', ':file', function() {
      var input = $(this),
          label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
      input.trigger('fileselect', label);
    });

    $(document).ready( function() {
      $(':file').on('fileselect', function(event, label) {

        var input = $(this).parents('.input-group').find(':text');

        if( input.length ) {
          input.val(label);
          input.trigger('input');
          //input.trigger('change');
        }

      });
    });

  });
</script>
</body>