<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-left navbar-nav">
        <li><%= image_tag("logo2.png", size: "75x50") %></li>
        <li><span style="font-size:x-large" class="<%= 'extra-padding' if not current_user.admin? %>">NDCR Work Study</span></li>
      </ul>
      <ul class="nav navbar-nav">
        <li ng-class="{'active':ctrl.page == 'placements'}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Placements<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to("Attendance", attendance_placements_url, :target => "_self")%></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Placement Details</li>
            <li><%= link_to("By Student", students_placements_url, :target => "_self")%></li>
            <li><%= link_to("By Organization", organizations_placements_url, :target => "_self") %></li>
            <li><%= link_to("By Contact", contacts_placements_url, :target => "_self") %></li>
          </ul>
        </li>
        <li ng-class="{'active':ctrl.page == 'students'}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Students<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to("Student Info (Active)", active_students_url, :target => "_self") %></li>
            <li><%= link_to("Student Info (All)", students_url, :target => "_self") %></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Feedback</li>
            <li><%= link_to("By Student", students_incidents_url, :target => "_self")%></li>
            <li><%= link_to("By Company", organizations_incidents_url, :target => "_self") %></li>
            <li><%= link_to("By Contact", contacts_incidents_url, :target => "_self") %></li>
          </ul>
        </li>
        <li ng-class="{'active':ctrl.page == 'organizations'}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Organizations<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li></li>
            <li><%= link_to("Manage Organizations", organizations_url, :target => "_self") %></li>
            <li class="dropdown-header">Contacts</li>
            <li><%= link_to("Active Contacts", contacts_url, :target => "_self") %></li>
            <li><%= link_to("All Contacts", contacts_url(:all=> true), :target => "_self") %></li>
          </ul>
        </li>
        <li ng-class="{'active':ctrl.page == 'routes'}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Transportation<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to("Van Routes", van_routes_url, :target => "_self") %></li>
            <li><%= link_to("Vans", vans_url, :target => "_self") %></li>
            <li><%= link_to("Drivers", drivers_url, :target => "_self") %></li>
          </ul>
        </li>
        <% if current_user.admin? %>
        <li ng-class="{'active':ctrl.page == 'admin'}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to("Users", users_url, :target => "_self") %></li>
            <li><%= link_to("Feedback Categories", incident_categories_url, :target => "_self") %></li>
            <li><%= link_to("Mailing Lists", mailing_lists_contacts_url, :target => "_self") %></li>
            <li><%= link_to("Merge Organizations", merge_organizations_merges_url, :target => "_self") %></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Import Data</li>
            <li><%= link_to("Import Students", import_students_url, :target => "_self") %></li>
            <li><%= link_to("Import Organizations", import_organizations_url, :target => "_self") %></li>
            <li><%= link_to("Import Contacts", import_contacts_url, :target => "_self") %></li>
            <li><%= link_to("Import Placements", import_placements_url, :target => "_self") %></li>
          </ul>
        </li>
        <% end %>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <div class="navbar-form navbar-right input-group">
        <% if not input_name.nil? %>
        <span class="input-group-addon" style="width:20px">
          <span class="glyphicon glyphicon-search"></span>
        </span>
        <input type="text" class="form-control" ng-model=<%= input_name %>>
            <a class="search-icon" ng-click="ctrl.searchInput='';ctrl.selectedContact=-1;ctrl.selectedStudent=-1;ctrl.selectedOrg=-1;"ng-if="ctrl.searchInput">
              <span class="glyphicon glyphicon-remove" style="color: lightgrey; z-index: 3;pointer-events: auto; text-decoration: none;cursor: pointer;"></span>
            </a>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete, id: "logout_link") %></li>
        </ul>
      </div>
    </div>
  </div>
</nav>