<tr>
  <td>
    <%= f.association :organization, wrapper_html: { class: 'col-sm-4' }  %>
    <%= f.input :effective_start_date, wrapper_html: {class: 'col-sm-4'} %>
    <% if (!f.object.effective_end_date.nil? and f.object.effective_end_date.strftime("%Y") != '9999') %>
      <%= f.input :effective_end_date, wrapper_html: {class: 'col-sm-4'} %>
    <% else %>
      <%= f.input :effective_end_date, :as => :hidden %>
    <% end %>
    <%= f.input :title, wrapper_html: { class: 'col-sm-4' } %>
    <%= f.input :role, wrapper_html: { class: 'col-sm-4' } %>
    <%= f.input :address, wrapper_html: { class: 'col-sm-4' } %>
    <%= f.input :city, wrapper_html: { class: 'col-sm-4' } %>
    <%= f.input :state, wrapper_html: { class: 'col-sm-2' } %>
    <%= f.input :zip, wrapper_html: { class: 'col-sm-2' } %>
    <%= f.input :office_phone, wrapper_html: { class: 'col-sm-2' }  %>
    <%= f.input :fax, wrapper_html: { class: 'col-sm-2' }  %>
    <%= f.input :notes, wrapper_html: { class: 'col-sm-4' } %>
    <%= f.input :_destroy, as: :boolean, label: "Delete", boolean_style: :nested, wrapper_html: { class: 'col-sm-1'}, label_html: {style: 'font-weight: bold'} %>
  </td>
</tr>
<tr><td class="col-sm-12"><hr></td></tr>
