<%= simple_form_for(@contact) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :title %>
      <%= f.input :address %>
      <%= f.input :work_day %>
      <%= f.input :city %>
      <%= f.input :state %>
      <%= f.input :zip %>
      <%= f.input :email %>
      <%= f.input :mobile %>
      <%= f.input :office_phone %>
      <%= f.input :fax %>
      <%= f.input :designations %>
      <%= f.association :organization %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>