<body ng-app="app" ng-controller="ContactController as ctrl">
<%= render "shared/navbar", input_name: nil %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 main">
      <%= render "shared/alert_msg" %>
      <h2 class="sub-header"><%= header_text %></h2>
      <%= simple_form_for(@contact) do |f| %>
          <%= f.error_notification %>

          <fieldset>
            <legend>Contact Information</legend>
          <div class="form-inputs">
            <%= f.input :salutation, wrapper_html: { class: 'col-sm-2' } %>
            <%= f.input :first_name, wrapper_html: { class: 'col-sm-4' } %>
            <%= f.input :last_name, wrapper_html: { class: 'col-sm-4' } %>
            <%= f.input :email, wrapper_html: { class: 'col-sm-4' } %>
            <%= f.input :mobile, wrapper_html: { class: 'col-sm-2' }  %>
          </div>
          </fieldset>
          <fieldset>
            <legend>Position(s)</legend>
          <div class="form-inputs">
            <%= f.simple_fields_for :contact_assignments do |rs_form| %>
                <%= rs_form.association :organization, wrapper_html: { class: 'col-sm-4' }  %>
                <%= rs_form.input :effective_start_date, wrapper_html: {class: 'col-sm-4'} %>
                <%= rs_form.input :effective_end_date, wrapper_html: {class: 'col-sm-4'} %>
                <%= rs_form.input :title, wrapper_html: { class: 'col-sm-4' } %>
                <%= rs_form.input :role, wrapper_html: { class: 'col-sm-4' } %>
                <%= rs_form.input :address, wrapper_html: { class: 'col-sm-4' } %>
                <%= rs_form.input :city, wrapper_html: { class: 'col-sm-4' } %>
                <%= rs_form.input :state, wrapper_html: { class: 'col-sm-2' } %>
                <%= rs_form.input :zip, wrapper_html: { class: 'col-sm-2' } %>
                <%= rs_form.input :office_phone, wrapper_html: { class: 'col-sm-2' }  %>
                <%= rs_form.input :fax, wrapper_html: { class: 'col-sm-2' }  %>
                <%= rs_form.input :notes, wrapper_html: { class: 'col-sm-4' } %>
            <% end %>

          </div>
            </fieldset>

          <div class="form-group col-sm-12">
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  </div>
</div>
</body>

