<body ng-app="app" ng-controller="ContactController as ctrl">
<%= render "shared/navbar", input_name: nil %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 main">
      <%= render "shared/alert_msg" %>
      <h2 class="sub-header"><%= header_text %></h2>
      <%= simple_form_for(@contact) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :salutation, wrapper_html: { class: 'col-sm-2' } %>
            <%= f.input :first_name, wrapper_html: { class: 'col-sm-4' } %>
            <%= f.input :last_name, wrapper_html: { class: 'col-sm-4' } %>
            <%= f.input :title, wrapper_html: { class: 'col-sm-4' } %>
            <%= f.input :address, wrapper_html: { class: 'col-sm-4' } %>
            <%= f.input :city, wrapper_html: { class: 'col-sm-4' } %>
            <%= f.input :state, wrapper_html: { class: 'col-sm-2' } %>
            <%= f.input :zip, wrapper_html: { class: 'col-sm-2' } %>
            <%= f.input :email, wrapper_html: { class: 'col-sm-4' } %>
            <%= f.input :mobile, wrapper_html: { class: 'col-sm-2' }  %>
            <%= f.input :office_phone, wrapper_html: { class: 'col-sm-2' }  %>
            <%= f.input :fax, wrapper_html: { class: 'col-sm-2' }  %>
            <%= f.association :organization, wrapper_html: { class: 'col-sm-4' }  %>
          </div>

          <div class="form-group col-sm-12">
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  </div>
</div>
</body>

