<body ng-app="app" ng-controller="ContactController as ctrl">
<%= render "shared/navbar", input_name: nil %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 main">
      <%= render "shared/alert_msg" %>
      <h2 class="sub-header">
        <%= header_text %>
        <div class="pull-right">
          <button type="button" ng-if="<%= @contact.current_assignment_id %> > 0" data-ng-click="ctrl.showCloseoutModal(<%= @contact.current_assignment_id %>)" class="btn btn-primary">Close Out Contact</button>
        </div>
      </h2>
      <%= simple_form_for(@contact) do |f| %>
          <%= f.error_notification %>

          <fieldset>
            <legend>Contact Information</legend>
          <div class="form-inputs">
            <%= f.input :salutation, wrapper_html: { class: 'col-sm-2' } %>
            <%= f.input :first_name, wrapper_html: { class: 'col-sm-4' } %>
            <%= f.input :last_name, wrapper_html: { class: 'col-sm-4' } %>
            <%= f.input :dear, wrapper_html: { class: 'col-sm-4' } %>
            <%= f.input :email, wrapper_html: { class: 'col-sm-4' } %>
            <%= f.input :mobile, wrapper_html: { class: 'col-sm-2' }  %>
          </div>
          </fieldset>
          <fieldset>
            <legend>Position(s)</legend>
            <table class="form-inputs detail_assignment_rows">
              <%= f.simple_fields_for :contact_assignments do |rs_form| %>
                  <%= render partial: "contacts/contact_assignment", locals: { f: rs_form }  %>
              <% end %>
            </table>
          </fieldset>

          <div class="form-group col-sm-12">
            <p style="display:block">
              <input type="button" value="Add New Position" class="btn btn-primary" onclick="<%=  child_link_javascript(f, :contact_assignments, '.detail_assignment_rows')%>" />
              <button type="button" ng-if="<%= @contact.current_assignment_id %> < 0" data-ng-click="ctrl.reopenContact(<%= @contact.id %>)" class="btn btn-primary">Reopen</button>
              <%= f.submit '{{ctrl.deletesChecked > 0 ? "Delete" : "Save"}}', class: "btn btn-primary" %>
            </p>
          </div>
      <% end %>
    </div>
  </div>
</div>
</body>

