<body ng-app="app" ng-controller="AdminController as ctrl">
<%= render "shared/navbar", input_name: nil %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 main">
      <%= render "shared/alert_msg" %>
      <%= form_tag @contact_staging.count == 0? import_contacts_path : commit_contacts_path, name: "import_form", multipart: true do %>
        <h2 class="sub-header">
          Import Contacts
          <% if @contact_staging.count == 0 %>
            <div class="pull-right">
              <button type="submit" class="btn btn-primary pull-right" ng-disabled="import_form.import_file.$invalid">Import</button>
            </div>
          <% else %>
            <div class="pull-right">
              <button type="submit" class="btn btn-primary pull-right">Commit</button>
            </div>
          <% end %>
        </h2>
        <% if @contact_staging.count > 0 %>
          <div class="table-responsive" ng-style="ctrl.truncateStyle">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Salutation</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Dear</th>
                <th>Personal Mobile</th>
                <th>Start Date</th>
                <th>Organization Name</th>
                <th>Title</th>
                <th>Department</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Business Email</th>
                <th>Office Phone</th>
                <th>Fax</th>
                <th>Role</th>
                <th>Duplicate?</th>
                <th colspan="2"></th>
              </tr>
              </thead>
              <tbody>
              <% @contact_staging.each do |contact| %>
                  <tr style="<%= contact.duplicate ? "font-weight: bold; color: red" : "" %>">
                    <td><%= contact.salutation %></td>
                    <td><%= contact.first_name %></td>
                    <td><%= contact.last_name %></td>
                    <td><%= contact.dear %></td>
                    <td><%= contact.personal_mobile%></td>
                    <td><%= contact.start_date %></td>
                    <td><%= contact.organization_name %></td>
                    <td><%= contact.title %></td>
                    <td><%= contact.department %></td>
                    <td><%= contact.address %></td>
                    <td><%= contact.city %></td>
                    <td><%= contact.start_date %></td>
                    <td><%= contact.zip %></td>
                    <td><%= contact.business_email %></td>
                    <td><%= contact.office_phone %></td>
                    <td><%= contact.fax %></td>
                    <td><%= contact.role %></td>
                    <td><%= contact.duplicate %></td>
                    <td><%= link_to 'Edit', edit_contact_staging_path(contact), target: "_self" %></td>
                    <td><%= link_to 'Delete', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          <div class="input-group col-md-5" style="margin-top:50px; ">
            <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse… <input type="file" name="file_content" style="display: none;">
                    </span>
            </label>
            <div ng-class="{'has-error':import_form.import_file.$invalid && !import_form.import_file.$pristine}">
              <input type="text" name="import_file" id="import_file" class="form-control" ng-model='contact.import_file' valid-csv required readonly >
            </div>
          </div>
            <p ng-show="import_form.import_file.$invalid && !import_form.import_file.$pristine" class="help-block">Please select a valid CSV file.</p>
          <p class="help-block">Select a CSV file to import contacts from.</p>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
<script>
  $(function() {

    $(document).on('change', ':file', function() {
      var input = $(this),
          label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
      input.trigger('fileselect', label);
    });

    $(document).ready( function() {
      $(':file').on('fileselect', function(event, label) {

        var input = $(this).parents('.input-group').find(':text');

        if( input.length ) {
          input.val(label);
          input.trigger('input');
          //input.trigger('change');
        }

      });
    });

  });
</script>
</body>