<body ng-app="app" ng-controller="ContactController as ctrl">
<%= render "shared/navbar", input_name: "ctrl.searchInput" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 main">
      <%= render "shared/alert_msg" %>
      <h2 class="sub-header">Contacts
        <%= link_to "Export", export_contacts_path, class: "btn btn-primary pull-right", target: "_self" %>
      </h2>
      <div class="table-responsive" ng-style="ctrl.truncateStyle">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>
              <a href="#" ng-click="ctrl.sortType = 'name'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
                Name
                <span ng-show="ctrl.sortType == 'name' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
                <span ng-show="ctrl.sortType == 'name' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
              </a>
            </th>
            <th>
              <a href="#" ng-click="ctrl.sortType = 'business_email'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
                Business Email
                <span ng-show="ctrl.sortType == 'business_email' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
                <span ng-show="ctrl.sortType == 'business_email' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
              </a>
            </th>
            <th>
              <a href="#" ng-click="ctrl.sortType = 'office_phone'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
                Office Phone
                <span ng-show="ctrl.sortType == 'office_phone' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
                <span ng-show="ctrl.sortType == 'office_phone' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
              </a>
            </th>
            <th>
              <a href="#" ng-click="ctrl.sortType = 'organization_name'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
                Current Organization
                <span ng-show="ctrl.sortType == 'organization_name' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
                <span ng-show="ctrl.sortType == 'organization_name' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
              </a>
            </th>
            <th>
              <a href="#" ng-click="ctrl.sortType = 'active_since'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
                Active Since
                <span ng-show="ctrl.sortType == 'active_since' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
                <span ng-show="ctrl.sortType == 'active_since' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
              </a>
            </th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
            <tr ng-repeat="contact in ctrl.contacts| orderBy:ctrl.sortType:ctrl.sortReverse | filter:ctrl.searchInput">
              <td><a target="_self" ng-href="/placements/contacts?sid={{contact.id}}">{{ contact.name }}</a></td>
              <td class="col-md-2">{{ contact.business_email }}</td>
              <td class="col-md-2">{{ contact.office_phone }}</td>
              <td class="col-md-5">{{ contact.organization_name }}</td>
              <td class="col-md-3">{{ contact.active_since }}</td>
              <td><a target="_self" ng-href="/contacts/{{contact.id}}/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/contacts/{{contact.id}}">Delete</a></td>
            </tr>
          </tbody>
        </table>
        <%= link_to 'New Contact', new_contact_path, class: "btn btn-primary", target: "_self" %>
      </div>
    </div>
  </div>
</div>
</body>
