<p id="notice"><%= notice %></p>

<p>
  <strong>Designations:</strong>
  <%= @contact.name %>
</p>
<p>
  <strong>Designations:</strong>
  <%= @contact.title %>
</p>
<p>
  <strong>Designations:</strong>
  <%= @contact.address %>
</p>
<p>
  <strong>Designations:</strong>
  <%= @contact.city %>
</p>
<p>
  <strong>Designations:</strong>
  <%= @contact.state %>
</p>
<p>
  <strong>Designations:</strong>
  <%= @contact.zip %>
</p>
<p>
  <strong>Designations:</strong>
  <%= @contact.email %>
</p>
<p>
  <strong>Designations:</strong>
  <%= @contact.mobile %>
</p>
<p>
  <strong>Designations:</strong>
  <%= @contact.office_phone %>
</p>
<p>
  <strong>Designations:</strong>
  <%= @contact.fax %>
</p>
<p>
  <strong>Organization:</strong>
  <%= @contact.organization %>
</p>
<p>
  <strong>Designations:</strong>
  <%= @contact.designations %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
