<body ng-app="app" ng-controller="DriverController as ctrl">
<%= render "shared/navbar", input_name: "ctrl.searchInput" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 main">
      <%= render "shared/alert_msg" %>
      <h2 class="sub-header">Drivers
        <button class="btn-file btn btn-primary" name="export">Export</button>
      </h2>
      <div class="table-responsive" ng-style="ctrl.truncateStyle">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th colspan="2"></th>
          </tr>
          </thead>
          <tbody>
          <% @drivers.each do |driver| %>
              <tr>
                <td><%= driver.name %></td>
                <td><%= link_to 'Edit', edit_driver_path(driver), target: "_self" %></td>
                <td><%= link_to 'Delete', driver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <%= link_to 'New Driver', new_driver_path, target: "_self" %>
      </div>
    </div>
  </div>
</div>
</body>
