<body ng-app="app" ng-controller="AdminController as ctrl">
<%= render "shared/navbar", input_name: nil %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 main">
      <%= render "shared/alert_msg" %>
      <%= form_tag @org_staging.count == 0? import_organizations_path : commit_organizations_path, name: "import_form", multipart: true do %>
        <h2 class="sub-header">
          Import Organizations
          <% if @org_staging.count == 0 %>
            <div class="pull-right">
              <button type="submit" class="btn btn-primary pull-right" ng-disabled="import_form.import_file.$invalid">Import</button>
            </div>
          <% else %>
            <div class="pull-right">
              <button type="submit" class="btn btn-primary pull-right">Commit</button>
            </div>
          <% end %>
        </h2>
        <% if @org_staging.count > 0 %>
          <div class="table-responsive" ng-style="ctrl.truncateStyle">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Name</th>
                <th>Billing Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Sponsor Since</th>
                <th>Duplicate?</th>
                <th colspan="2"></th>
              </tr>
              </thead>
              <tbody>
              <% @org_staging.each do |org| %>
                  <tr style="<%= org.duplicate ? "font-weight: bold; color: red" : "" %>">
                    <td><%= org.name %></td>
                    <td><%= org.billing_address %></td>
                    <td><%= org.city %></td>
                    <td><%= org.state %></td>
                    <td><%= org.zip %></td>
                    <td><%= org.sponsor_since %></td>
                    <td><%= org.duplicate %></td>
                    <td><%= link_to 'Edit', edit_org_staging_path(org), target: "_self" %></td>
                    <td><%= link_to 'Delete', org, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          <div class="input-group col-md-5" style="margin-top:50px; ">
            <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse… <input type="file" name="file_content" style="display: none;">
                    </span>
            </label>
            <div ng-class="{'has-error':import_form.import_file.$invalid && !import_form.import_file.$pristine}">
              <input type="text" name="import_file" id="import_file" class="form-control" ng-model='org.import_file' valid-csv required readonly >
            </div>
          </div>
            <p ng-show="import_form.import_file.$invalid && !import_form.import_file.$pristine" class="help-block">Please select a valid CSV file.</p>
          <p class="help-block">Select a CSV file to import organizations from.</p>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
<script>
  $(function() {

    $(document).on('change', ':file', function() {
      var input = $(this),
          label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
      input.trigger('fileselect', label);
    });

    $(document).ready( function() {
      $(':file').on('fileselect', function(event, label) {

        var input = $(this).parents('.input-group').find(':text');

        if( input.length ) {
          input.val(label);
          input.trigger('input');
          //input.trigger('change');
        }

      });
    });

  });
</script>
</body>