<body ng-app="app" ng-controller="OrgController as ctrl">
<%= render "shared/navbar", input_name: "ctrl.searchInput" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 main">
      <%= render "shared/alert_msg" %>
      <h2 class="sub-header">Organizations
        <div class="pull-right">
          <%= link_to "Export", export_organizations_path, class: "btn btn-primary", target: "_self" %>
          <%= link_to 'New Organization', new_organization_path, class: "btn btn-primary", target: "_self" %>
        </div>
      </h2>
      <div class="table-responsive" ng-style="ctrl.truncateStyle">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>
              <a href="#" ng-click="ctrl.sortType = 'name'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
                Name
                <span ng-show="ctrl.sortType == 'name' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
                <span ng-show="ctrl.sortType == 'name' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
              </a>
            </th>
            <th>
              <a href="#" ng-click="ctrl.sortType = 'billing_address'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
                Billing Address
                <span ng-show="ctrl.sortType == 'billing_address' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
                <span ng-show="ctrl.sortType == 'billing_address' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
              </a>
            </th>
            <th>
              <a href="#" ng-click="ctrl.sortType = 'city'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
                City
                <span ng-show="ctrl.sortType == 'city' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
                <span ng-show="ctrl.sortType == 'city' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
              </a>
            </th>
            <th>
              <a href="#" ng-click="ctrl.sortType = 'state'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
                State
                <span ng-show="ctrl.sortType == 'state' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
                <span ng-show="ctrl.sortType == 'state' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
              </a>
            </th>
            <th>
              <a href="#" ng-click="ctrl.sortType = 'zip'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
                Zip
                <span ng-show="ctrl.sortType == 'zip' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
                <span ng-show="ctrl.sortType == 'zip' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
              </a>
            </th>
            <th>
              <a href="#" ng-click="ctrl.sortType = 'sponsor_since'; ctrl.sortReverse = !ctrl.sortReverse" style="text-decoration: none">
                Sponsor Since
                <span ng-show="ctrl.sortType == 'sponsor_since' && !ctrl.sortReverse" style="text-decoration: none">
                  <%= image_tag("sort_down.png", size: "14x14") %>
                </span>
                <span ng-show="ctrl.sortType == 'sponsor_since' && ctrl.sortReverse">
                  <%= image_tag("sort_up.png", size: "14x14") %>
                </span>
              </a>
            </th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <tr ng-repeat="organization in ctrl.organizations | orderBy:ctrl.sortType:ctrl.sortReverse | filter:ctrl.searchInput">
            <td>{{ organization.name }}</td>
            <td>{{ organization.billing_address }}</td>
            <td>{{ organization.city }}</td>
            <td>{{ organization.state }}</td>
            <td>{{ organization.zip }}</td>
            <td>{{ organization.sponsor_since }}</td>
            <td><a target="_self" ng-href="/organizations/{{organization.id}}/edit">Edit</a></td>
            <td>
              <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/organizations/{{organization.id}}">Delete</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>